<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Practice of Vue JS</title>
	<link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>
<body>
	<div class="nav-bar"></div>
	<div id="app">
		<div class="product">
			<div class="product-image">
				<img v-bind:src="image">
			</div>

			<div class="product-info">
				<h1 :style="{color: color}">{{ title }}</h1>
				<p :style="[styleObject1, styleObject2]" v-if="inStock">In Stock</p>
				<p v-else :class="{textDecoration: !inStock}">Out of Stock</p>

				<ul>
					<li v-for="detail in details">{{ detail }}</li>
				</ul>

				<div v-for="(variant, index) in variants":key="variant.variantId" 
					class="color-box"
					:style="{ backgroundColor: variant.variantColor}"
					@mouseover="updateProduct(index)"
				>
				</div>

				<!-- <button v-on:click="addToCart">Add to Cart</button> -->
				<button @click="addToCart" 
					:disabled="!inStock"
					:class="{disabledButton: !inStock}"
				>Add to Cart</button>

				<button v-on:click="removeToCart">Remove to Cart</button>

				<div class="cart">
					<p>Cart({{cart}})</p>
				</div>


			</div>

		</div>		

	</div>

	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="main08.js"></script>
</body>
</html>